# You might not be able to invite Citron for a while

## Hey everyone,
### Just wanted to tell y'all that you might not be able to invite citron anymore for a while as its awaiting verification.

You might see something like this: 

![image](https://i.imgur.com/3W6gdMz.png)

What you can do next is either join our support server and await further instructions [click here](https://discord.gg/CAJWYQB)


### OR


Wait for a few days and try again 



Thank you! (lets hope Citron gets verified!)
